<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <form id="form-3">
                <input placeholder="New Enironment Name">
                <button>Create Environment</button>
            </form>
            <br>
            <p id="message"></p> 
        </div>
        {{>footer}}
        <script src="/js/create.js"></script>
    </body>

</html>