<header>
    <h1>{{title}}</h1>
    
    <ul>
        <li><a href = "/">Load Env</a></li>
        <li><a href = "/updateEnvironment">Update Env</a></li>
        <li><a href = "/createEnvironment">Create Env</a></li>
    </ul>
</header>